body{
    background-image: url(../Imagenes/Montaña.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
    background: rgba(0,-0,-0,-1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,-0,-0,-0.568);
    color: white;
}

.from-control::placeholder{
    color: white;
}

.ingresar{
    background: #222a3f;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
}

.ingresar:hover{
    color: white;
}